#pageContainer {
    margin: 20px 20px 0px 20px;
    /*margin-left:50px;*/
}

#employeesResult {
    border-collapse: collapse;
    width: 100%;
}

    #employeesResult td, #employeesResult th {
        border: 1px solid #ddd;
        padding: 8px;
    }
